

<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body>
		<div id="app" class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Flight Reservation Chatbot</span>
								</div>
							</div>
						</div>
						<div id="message-body" class="card-body msg_card_body">
                            <template v-for="(item, index) in messages">
							<div class="d-flex justify-content-start mb-4"  v-if="item.is_system">
<!--								<div class="img_cont_msg">-->
<!--									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">-->
<!--								</div>-->
								<div class="msg_cotainer">
                                    <span v-text="item.message"></span>
									<span class="msg_time" v-text="item.time"></span>
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4" v-else>
								<div class="msg_cotainer_send">
                                    <span v-text="item.message"></span>
									<span class="msg_time_send" v-text="item.time"></span>
								</div>
<!--								<div class="img_cont_msg">-->
<!--							        <img src="../static/img/user.png" class="rounded-circle user_img_msg">-->
<!--                                </div>-->
                            </div>
                            </template>
						</div>
						<div class="card-footer">
							<div class="input-group">
								<input type="text" name="" class="form-control type_msg" placeholder="Type your message..." v-model="message" @keydown.enter="sendMessage" />
								<div class="input-group-append">
									<span class="input-group-text send_btn" @click.stop="isSpeaking?stopSpeech():startSpeech()">
                                        <i :class="{'text-danger fa-stop': isSpeaking, 'fa-microphone': !isSpeaking}" class="fa"></i>
                                    </span>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="col-md-4 col-xl-6 chat">
                    <div class="card card-ticket">
                        <div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="user_info ml-0">
									<span>Check availability for direction:</span>
								</div>
							</div>
						</div>
                        <div id="search-body" class="card-body msg_card_body">
                            <form>
                                <div class="form-row align-items-center">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1">
                                        <label class="mr-sm-2 text-white" :class="{'filled': isNew(form.is_new_from_place) }" for="flightFrom">From</label>
                                        <select class="custom-select mr-sm-2" id="flightFrom" :class="{'filled': isNew(form.is_new_from_place) }" v-model="form.place_from">
                                            <option value="" selected>Choose...</option>
                                            <option :key="index" :value="item" v-text="item" v-for="(item, index) in response.countries"></option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1">
                                        <label class="mr-sm-2 text-white" :class="{'filled': isNew(form.is_new_to_place) }" for="flightTo">To</label>
                                        <select class="custom-select mr-sm-2" :class="{'filled': isNew(form.is_new_to_place) }" id="flightTo" v-model="form.place_to">
                                            <option value="" selected>Choose...</option>
                                            <option :key="index" :value="item" v-text="item" v-for="(item, index) in response.countries"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1">
                                        <label class="mr-sm-2 text-white" :class="{'filled': isNew(form.is_new_from_date) }" for="flightFrom">Departure</label>
                                        <input class="form-control" type="date" placeholder="Departure Date"  :class="{'filled': isNew(form.is_new_from_date) }" v-model="form.date_departure">
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1">
                                        <label class="mr-sm-2 text-white" :class="{'filled': isNew(form.is_new_return_date) }" for="flightTo">Return</label>
                                        <input :disabled="isDisabled()" class="form-control" type="date" placeholder="Return Date"  :class="{'filled': isNew(form.is_new_return_date) }" v-model="form.date_return">
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1">
                                        <label class="mr-sm-2 text-white" :class="{'filled': isNew(form.is_new_class) }" for="flightClass">Travel Class</label>
                                        <select class="custom-select mr-sm-2" id="flightClass"  :class="{'filled': isNew(form.is_new_class) }" v-model="form.flight_class">
                                            <option value="" selected>Choose...</option>
                                            <option :key="index" :value="item.value" v-text="item.name" v-for="(item, index) in response.classes"></option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1">
                                        <label class="mr-sm-2 text-white" :class="{'filled': isNew(form.is_new_connection) }" for="flightStop">Flight Stop</label>
                                        <select class="custom-select mr-sm-2" id="flightStop"  :class="{'filled': isNew(form.is_new_connection) }" v-model="form.flight_stop">
                                            <option value="" selected>Any number of stops</option>
                                            <option value="zero">No stop only</option>
                                            <option value="one">One stop or fewer</option>
                                            <option value="two">Two stops or fewer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row align-items-center mt-2 pt-1">
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 my-1 text-xs-center text-sm-center text-md-center text-lg-center text-xl-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="trip-direction" id="trip-one" value="false" :class="{'filled': form.is_new_round_trip }" v-model="form.is_round_trip">
                                            <label class="form-check-label text-white" :class="{'filled': isNew(form.is_new_round_trip) }" for="trip-one">One-way</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 my-1 text-xs-center text-sm-center text-md-center text-lg-center text-xl-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="trip-direction" id="trip-round" value="true"  :class="{'filled': form.is_new_round_trip }" v-model="form.is_round_trip">
                                            <label class="form-check-label text-white" :class="{'filled': isNew(form.is_new_round_trip) }" for="trip-round">Round-way</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1">
                                        <button type="submit" class="btn btn-primary btn-block">Order Ticket Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
			</div>
		</div>

        <script type="text/javascript" src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/sijax/sijax.js"></script>
        <script type="text/javascript" src="https://use.typekit.net/hoy3lrg.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="../static/js/chatbot.js"></script>
        <script type="text/javascript" src="../static/js/speech.js"></script>
        <script type="text/javascript">
            {{ g.sijax.get_js()|safe }}
            try{Typekit.load({ async: true });}catch(e){}
        </script>

<!------ Include the above in your HEAD tag ---------->
	</body>
</html>
